/*
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1366px;
    margin: 0 auto;
}
.padding-site {    /* Боковые отступы */
    padding-left: 98px;
    padding-right: 98px;
    }
.clearfloat::after { /* Отмена обтекания float */
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    }
/*--- Кнопка ORDER US ---*/
.order-us {
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    text-decoration: none;
    border-radius: 22.5px;
    box-shadow: 0px 2px 4.9px 0.2px #21212159;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    display: inline-block;
    text-transform: uppercase;
    }
.order-us_arrow-r {
    margin-left: 22px;
    }
.order-us:hover {
    box-shadow: 0px 2px 10px 0.2px #21212159;
    }
/*--- Кнопка Explore all ---*/
.btn-ghost {
    float: right;
    line-height: 47px;
    }
.btn-ghost_link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    }
.btn-ghost_img {
    margin-left: 12px;
    }
.btn-ghost_link:hover {
    text-decoration-line: underline;
    }
/*--------Slider & Hot deals----------*/
.slider,
.hot-deals {
    height: 800px;
    position: relative;
    }
.slider {
    background: url(img/slider_img.jpg);
    }
.hot-deals {
    background: url(img/hot-deals.jpg);
    margin-top: 90px;
    }
.navbar {
    padding-top: 63px;
    }
.menu,
.slider_text,
.hot-deals_text{
    text-transform: uppercase;
    }

.slider_tag,
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    margin-top: 283px;
    }
#slider_slider_tag {
    color: #43a047;
    }
#hot-deal_slider_tag {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #e53935;
    padding-top: 287px;
    }
.slider_h2,
.hot-deals_h2{
    font-size: 62px;
    font-weight: 100;
    color: #212121;
    }
.slider_content,
.hot-deals_content {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #6c6c6c;
    text-transform: none;
    width: 468px;
    margin-top: 32px;
    margin-bottom: 34px;
    }

.menu {
    float: right;
    }
.menu_list {
    list-style-type: none;
    display: inline-block;
    }
.menu_link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #8c8c8c;
    text-decoration: none;
    padding: 10px 13px;
    vertical-align: middle;
    }
.menu_link:hover {
    color: #212121;
    }
.menu_link_active {
    font-weight: bold;
    color: #212121;
    border-bottom: 3px solid #212121;
    }

.pagination {
    position: absolute;
    bottom: 19px;
    width: 1170px;
    text-align: center;
    }
.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #c7c7c7;
    margin: 5px;
    }
.circle:hover {
    background-color: #212121;
    }
.circle_active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
    }
/*--------Slider end-------------------*/
/*--------Featured-product-------------*/
.featured-product {
    height: 609px;
    }
.featured-product_tab {
    padding-top: 120px;
    }
.featured-product_tab-control {
    width: 300px;
    float: left;
    }
.featured-product_tab-control_menu {
    border-bottom: 1px solid;
    }
.featured-product_tab-control_list {
    list-style-type: none;
    display: inline-block;
    }
.featured-product_tab-control_link {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    padding-left: 9px;
    padding-right: 11px;
    }
.featured-product_tab-control_link_active {
    font-weight: bold;
    color: #212121;
    border-bottom: 3px solid;
    }
.featured-product_tab-control_link:hover {
    color: #212121;
    }

.featured-product_tab-content {
    margin-top: 50px;
    float: left;
    }
.featured-product_tab-content_item {
    width: 270px;
    height: 270px;
    outline: 1px solid #f3f3f3;
    float: left;
    box-sizing: border-box;
    }
.featured-product_tab-content_item:not(:last-child) {
    margin-right: 30px;
    }
.featured-product_tab-content_item-1 {
    background: url(img/product-1.jpg);
    }
.featured-product_tab-content_item-2 {
    background: url(img/product-2.jpg);
    }
.featured-product_tab-content_item-3 {
    background: url(img/product-3.jpg);
    }
.featured-product_tab-content_item-4 {
    background: url(img/product-4.jpg);
    }
.featured-product_tab-content_item:hover .featured-product_tab-content_transparent {
    visibility: visible;
    outline: 1px solid #9c9c9c;
    }
.featured-product_tab-content_transparent {
    visibility: hidden;
    width: 270px;  
    height: 270px;
    background: url(img/featured_product_tab_content_transparent_back.png);
    opacity: 0.9;
    }
.featured-product_tab-content_transparent_link {
    display: inline-block;
    text-decoration: none;
    margin-top: 62px;
    margin-left: 111px;
    }
.featured-product_tab-content_transparent_name {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #212121;
    margin-top: 19px;
    }
.featured-product_tab-content_transparent_details {
    width: 211px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    color: #6c6c6c;
    margin: 20px auto 0px;
    }
.button-right {    /*Круглая кнопка со стрелкой вправо*/
    width: 48px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0px 2px 4.9px 0.2px #21212159;
    background-color: #ffffff;
    }
.button-right img {
    width: 15px;
    height: 20px;
    position: relative;
    top: 14px;
    left: 18px;
    }
.button-right:hover {
    box-shadow: 0px 2px 10px 0.2px #21212159;
    }
/*--------Featured-product end---------*/
/*--------Promo-product----------------*/
.promo-product {}
.promo-content {
    width: 683px;
    height: 683px;
    float: left;
    }
.promo-content-1 {
    background: url(img/promo-1.jpg);
    }
.promo-content-2 {
    background: url(img/promo-2.jpg);
    }
.promo-content_description {
    margin-left: 50px;
    }
.promo-content_description_tag {
    margin-top: 228px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #1e88e5;
    text-transform: uppercase;
    }
.promo-content_description_name {
    margin-top: 18px;
    font-size: 36px;
    font-weight: bold;
    color: #212121;
    }
.promo-content_description_details {
    margin-top: 24px;
    width: 374px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #6c6c6c;
    }
.promo-content_description_button {
    margin-top: 34px;
    }
/*--------Promo-product end------------*/
/*--------Trending-product-------------*/
.trending-products {}
.trending-products_title {
    margin-top: 119px;
    }
.trending-products_title_text {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #212121;
    float: left;
    }
.trending-products_products-area {
    margin-top: 64px;
    }
.trending-products_product {
    width: 370px;
    height: 370px;
    float: left;
    margin-bottom: 30px;
    }
.trending-products_product:not(:nth-child(3n)) {
    margin-right: 30px;
    }
.trending-products_product a {
    display: inline-block;
    width: 370px;
    height: 370px;
    }
.trending-products_product:hover {
    box-shadow: 0px 2px 5px 0.2px #21212159;
    }
.trending-products_product11 {
    background: url(img/product-11.jpg);
    }
.trending-products_product21 {
    background: url(img/product-21.jpg);
    }
.trending-products_product31 {
    background: url(img/product-31.jpg);
    }
.trending-products_product41 {
    background: url(img/product-41.jpg);
    }
.trending-products_product5 {
    background: url(img/product-5.jpg);}
.trending-products_product6 {
    background: url(img/product-6.jpg);
    }
/*--------Trending-product end---------*/
